---
import MainLayout from '../../layouts/BaseLayout.astro';
import NewPrettyCard from '../../components/NewPrettyCard.astro';

export async function getStaticPaths() {
  const allPosts = await Astro.glob('../posts/*.md');

  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.frontmatter.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.frontmatter.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<MainLayout pageTitle={tag}>
  <p>Entradas etiquetadas con {tag}</p>

  {
    posts.map((post) => (
      <NewPrettyCard
        url={post.url}
        title={post.frontmatter.title}
        image={post.frontmatter.image}
        pubDate={post.frontmatter.pubDate}
        description={post.frontmatter.description}
      />
    ))
  }
</MainLayout>
