---
const { title, pubDate, description, image, url } = Astro.props;
---

<div class="new-card">
  <h2 class="nav-title"><a href={url}>{title}</a></h2>
  <p class="nav-date">{pubDate.slice(0, 10)}</p>
  <div class="new-card-content">
    <img src={image.url} alt={image.alt} />
    <p>{description}</p>
  </div>
</div>

<style>
  .new-card {
    background-color: #fff;
    color: black;
    border-radius: 0.5em;
    width: 80%;
    height: 50vh;
    padding:0em 0.5em 0em 0.5em;
  }

  .new-card-content{
    max-height:20vh;
    max-width:100%;
    display:flex;
    flex-direction:column;
  }

  .nav-date{
    font-size:small;
  }

  .nav-title a{
    color: black;
    font-family: 'Nuffle', sans-serif;
  }

  .new-card-content img{
    height:16vh;
    width:fit-content;
  }

  .new-card-content p{
    padding: 1em;
    font-size:small;
    width:70%;
    max-height:100%;
    text-overflow: ellipsis;
  }

  @media screen and (min-width: 636px) {
    .new-card-content{
        max-height:20vh;
        max-width:100%;
        display:flex;
        flex-direction:row;
    }
    .new-card{
        height: 40vh;
    }
    .new-card-content img{
        height:18vh;
    }
  }
</style>
