---
import BaseLayout from './BaseLayout.astro';
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <div class="header-new">
    <p>Publicado el {frontmatter.pubDate.slice(0, 10)}</p>
    <p>Escrito por <span class="author-yellow">{frontmatter.author}</span></p>
  </div>

  <figure>
    <img
      src={frontmatter.image.url}
      width="100%"
      alt={frontmatter.image.alt}
      transition:name={frontmatter.title}
    />
  </figure>
  <article>
    <slot />
  </article>

  <aside class="tags">
    {
      frontmatter.tags.map((tag) => (
        <p class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </aside>
  <style>
    .author-yellow {
      color: #eeb700 !important;
    }
    a {
      color: red;
      text-decoration: none;
    }

    .tags {
      display: flex;
      flex-wrap: wrap;
    }

    .tag {
      margin: 0.25em;
      border: dotted 1px transparent;
      border-radius: 0.5em;
      padding: 0.5em 1em;
      font-size: 1.15em;
      background-color: #19336c;

      a {
        color: #eeb700;
        text-decoration: none;
      }
    }

    .header-new {
      display: flex;
      flex-direction: column;
      width: 95%;
      justify-content: space-between;
    }

    @media screen and (min-width: 636px) {
      .header-new {
        flex-direction: row;
      }
      .tags {
        margin-left: 5em;
      }

      .tag {
        transition: 0.5s;
      }

      .tag:hover {
        scale: 1.05;
      }
    }
  </style>
</BaseLayout>
